<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pic World</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
     <a href="/"><i class="fa fa-home"></i></a>
     
      <nav>
        <ul class="nav__links">
          
          <li><a href="/actions/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
          <li><a href="/actions/profile/{{user}}"><i class="fa fa-user"></i></a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </nav>
      <a class="cta" href="/post_pic/"><button class=" btn-nav">Post Pic</button></a>
    </header>

    {% block body %}{% endblock body %}

    <!-- Footer -->
    <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>
</html>
